@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800;300;400;600&display=swap");

:root {
  --orange: #ff9f1a;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  text-transform: none;
  outline: none;
  text-decoration: none;
}

*::selection {
  background: var(--orange);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.btn {
  width: 26rem;
  height: 6rem;
  cursor: pointer;
  color: white;
  background: #a288a8;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  position: relative;
  z-index: 0;
  font-size: 1.5rem;
  border-width: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.btn2 {
  width: 26rem;
  height: 6rem;
  cursor: pointer;
  color: #a288a8;
  background: white;
  padding: 0.5rem 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  position: relative;
  z-index: 0;
  font-size: 1.5rem;
  border: 2px solid #a288a8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: bold;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--orange);
  z-index: -1;
  clip-path: circle(0% at 0% 0%);
  transition: 0.3s;
}

.btn2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--orange);
  z-index: -1;
  clip-path: circle(0% at 0% 0%);
  transition: 0.3s;
}

.btn:hover::before {
  clip-path: circle(100%);
}

.btn2:hover::before {
  clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

.home .container-all{
  width: 100%;
  height: 100%;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms;
}

.home .container-all:target{
  background: rgba(0, 0, 0, 0.8);
  visibility: visible;
  opacity: 1;
}

.home .container-all:target .popup{
  top: 50%;
  left: 50%;
  transform: rotate(0deg) translate(-50%, -50%);
  visibility: visible;
}

.home .container-all .popup{
  width: 100%;
  max-width: 100vh;
  height: 60vh;
  position: relative;
  display: flex;
  visibility: hidden;
  top: -80%;
  left: -80%;
  transform: rotate(90deg) translate(-150%, 230%);
  transition: all 600ms;
}

.home .container-all .popup .img{
  width: 40%;
  background-image: url(images/Rectangle.png);
  background-size: cover;
  background-position: center;
}

.home .container-all .popup .container-text{
  width: 60%;
  padding: 50px;
  overflow-y: auto;
  background: white;
}

.home .container-all .popup .container-text h1{
  font-size: 5rem;
}

.home .container-all .popup .container-text p{
  margin-top: 4rem;
  font-size: 2rem;
}

.home .container-all .popup .btn-close-popup{
  width: 5%;
  height: 8%;
  position: absolute;
  right: 1rem;
  top: 3rem;
  padding: 20px;
  background: black;
  color: white;
  font-size: 1.5rem;
  border-radius: 99%;
  line-height: 1rem;
}

.heading {
  display: inline-block;
  color: #ac5a5a;
  font-size: 4rem;
  margin: 0 0;
  padding: 0 0;
  padding-top: 8rem;
  font-size: 3rem;
  border-bottom: 0.2rem solid var(--orange);
  text-transform: uppercase;
}

header {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 2rem 3rem;
}

header .logo {
  font-size: 3rem;
  color: #fff;
  padding-right: 2rem;
}

header .logo span {
  color: var(--orange);
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  color: #fff;
  font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--orange);
}

header #menu {
  font-size: 3rem;
  color: var(--orange);
  cursor: pointer;
  display: none;
}

header.header-active {
  background: #fff;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

header.header-active .logo,
header.header-active .navbar a {
  color: #333;
}

.btn-open-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.home {
  min-height: 100vh;
  background: #1e1e1e;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.home .row {
  background: url(/images/Frame.png);
  background-repeat: no-repeat;
  background-position: 100vh;
  background-size: contain;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 16rem;
  padding-top: 8rem;
  /* background: #1e1e1e; */
}
/* 
.home .row .img {
  position: relative;
  flex: 1 1 40rem;
  padding: 2rem;
  left: -50vh;
}

.home .row .image {
  flex: 1 1 40rem;
  padding: 2rem;
}

.home .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
} */
.home .row .content {
  width: 40%;
  flex: 1 1 30rem;
  padding: 2rem;
}

.home .row .register {
  width: 60%;
  flex: 1 1 40rem;
  padding: 2rem;
}

.home .row .content h3 {
  color: white;
  font-size: 6rem;
  text-transform: uppercase;
}

.home .row .content p {
  color: white;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.home h1 {
  font-size: 6rem;
  color: #fff;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem #000;
  padding: 0 1rem;
  text-transform: uppercase;
}

.home .btn {
  box-shadow: 0 0.3rem 0.5rem #000;
  color: #fff;
}

.about .abstract {
  min-height: 6vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 8rem;
  background: white;
}

.about .row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-inline: 16rem;
  background: #fafafa;
}

.about .row .image {
  flex: 1 1 40rem;
  padding: 2rem;
  z-index: 1;
}

.about .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .content h3 {
  color: #ac5a5a;
  font-size: 4rem;
}

.about .row .content p {
  color: #666;
  font-size: 1.7rem;
  padding: 1rem 0;
}

.service {
  min-height: 100vh;
  text-align: center;
  background:  linear-gradient(180deg, rgba(255, 255, 255, 0.89) 0%, rgba(239, 255, 253, 0.89) 100%), url(images/Rectangle2.png);
  background-repeat: no-repeat;
  background-position: 150vh;
}

.service .prueba{
  margin-top: 10rem;  
  background:transparent;
  min-height: 10vh;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
} 

.service .prueba img{
    position: relative;
    margin-top: 8rem;
}

.service p {
  min-width: 100%;
  display: flex;
  color: #6a6a6a;
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 4rem;
  padding-top: 8rem;
}

.service .abstract {
  min-height: 6vh;
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 32rem;
  background: white;
}

.service .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.service .box-container .box {
  height: 40rem;
  width: 35rem;
  margin: 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.service .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.service .box-container .box .info {
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.service .box-container .box:hover .info {
  transform: translate(-50%, -50%) scale(1);
}

.service .box-container .box .info h3 {
  font-size: 2.5rem;
  color: #333;
  font-weight: bold;
}

.service .box-container .box .info h4 {
    font-size: 1rem;
    color: rgb(177, 150, 150);
    font-weight: lighter;
  }

.service .box-container .box .info p {
  font-size: 1.2rem;
  color: #666;
  padding: 1rem 2rem;
}

.plan {
  min-height: 100%;
  text-align: center;
  background: #060606;
}

.plan h1{
    display: inline-block;
    color: white;
    font-size: 3rem;
    margin: 0 0;
    padding: 0 0;
    padding-top: 8rem;
    font-style: italic;
    letter-spacing: 1rem;
}

.plan h2{
    display: inline-block;
    color: white;
    font-size: 1rem;
    margin: 0 0;
    padding: 0 0;
    padding-top: 8rem;
    text-transform: uppercase;
}

.plan .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.plan .box-container .box {
  background: rgb(0, 0, 0);
  margin: 2rem;
  width: 10rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.plan .box-container .box:hover {
  transform: scale(1.04);
}

.plan .box-container .box .title {
  font-size: 2.5rem;
  background: var(--orange);
  color: #fff;
  padding: 1rem 0;
}

.plan .box-container .box .price {
  font-size: 4rem;
  color: #333;
  padding-top: 1rem;
}

.plan .box-container .box .price span {
  font-size: 2rem;
}

.plan .box-container .box .month {
  font-size: 2rem;
  color: #666;
}

.plan .box-container .box ul {
  margin: 2rem 8rem;
  list-style: none;
}

.plan .box-container .box ul li {
  text-align: left;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #333;
}

.plan .box-container .box ul li i {
  color: var(--orange);
  padding: 0 0.5rem;
}

.plan .box-container .box .btn {
  margin-bottom: 3rem;
}

.register {
  min-height: auto;
  text-align: center;
  padding-bottom: 3rem;
}

.register form {
  width: 75%;
  margin: 0 auto;
}

.register form .btn {
  display: flex;
  justify-content: center;
}

.register form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.register form .inputBox input,
textarea {
  height: 4rem;
  width: 49%;
  background: white;
  color: #fff;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 2rem;
  border: none;
}

.register form .inputBox input:focus,
textarea:focus {
  background: #222;
}

.register form textarea {
  height: 5rem;
  resize: none;
  padding: 1rem;
  width: 100%;
}

.register form .btn:hover {
  background: var(--orange);
}

.footer {
  color: #eee;
  background: #111;
  text-align: center;
  padding: 2rem 1rem;
  font-size: 2rem;
}

.footer a {
  color: var(--orange);
}

.footer a:hover {
  color: #fff;
}

/* media queries  */

/*  @media (max-width: 1919px) {
  .about .img {
    display: none;
  }
}  */

@media (max-width: 769px) {

  .home .container-all .popup{
    justify-items: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-height: 60vh;
  }

  .home .container-all .popup .img{
    width: 60%;
    height: 40%;
  }

  .home .container-all .popup .container-text h1{
    font-size: 2.5rem;
  }

  .home .container-all .popup .container-text p{
    font-size: 1.5rem;
  }

  html {
    font-size: 55%;
  }

  header #menu {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: -100rem;
    left: 0;
    min-width: 100%;
    opacity: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  }

  header .navbar ul {
    flex-flow: column;
    padding: 2rem 0;
  }

  header .navbar ul li {
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }

  header .navbar ul li a {
    font-size: 2.5rem;
    color: #333;
    display: block;
  }

  header .navbar.nav-toggle {
    top: 8rem;
    opacity: 1;
  }

  .home .row {
    background: url(/images/Frame.png), no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-inline: 0;
    /* background: #1e1e1e; */
  }

  .about .row {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
    padding-right: 0;
    padding-left: 0;
  }

  .about .abstract {
    min-height: 6vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 0;
    background: white;
  }

  .service .abstract {
    min-height: 6vh;
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 0;
    background: white;
  }

  .service p {
    min-width: 100%;
    display: inline-block;
    color: #6a6a6a;
    font-size: 2rem;
    margin: 2rem 0;
    padding: 1rem 0;
    padding-top: 8rem;
  }

  .register form {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .about .abstract {
    min-height: 6vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 0;
    background: white;
    display: none;
  }

  .service .abstract {
    min-height: 6vh;
    min-width: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 32rem;
    background: white;
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .home h1 {
    font-size: 5rem;
  }

  .about .row {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
  }

  .register form .inputBox input {
    width: 100%;
  }
}
